/* by Matheus Souza*/

/* Importación Tipos de Letra */
@font-face {
    font-family: 'Birthstone';
    src: url(../Fonts/Titulos_Birthstone-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Pattaya';
    src: url(../Fonts/Textos_Pattaya-Regular.ttf) format('truetype');
}

* { margin : 0; }
html { scroll-behavior: smooth; }

header, footer {
    display: flex;
    max-width: 100vw;
    padding: 8px;
    background-color: #F4E1C1;
}

header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer {
    flex-direction: column;
    min-height: 100px;
    font-family: Pattaya;
}

/*  Condiciones para @media
    - min-width
    - min-height
    - max-width
    - max-height
    @media (condicion) and (condicion) ...
    
    Modelos ->
*/

/*Responsive for Larger Desktop*/
@media (min-width: 1921px) {

}

/*Responsive for Tablets*/
@media (min-width: 801px) and (max-width: 1279px) {

}

/*Responsive for Mobile*/
@media (max-width: 800px) {

}
