img.img_logo {
    height: 80px;
    width: 80px;
    margin: 8px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 16px;
}

nav ul li a {
    font-size: 24px;
    color: #FFFCE2;
    text-decoration: none;
    text-align: center;
}
