div.footer_linear {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div p.w3c { /*Eliminar Luego cuando se añada las validaciones*/
    background-color: antiquewhite;
    border-radius: 12px;
    padding: 4px;
    font-size: 20px;
}

div.icons {
    display: flex;
}

div.icons p {
    margin: 4px 32px;
}

div.icons p { /*Eliminar Luego cuando añada los iconos*/
    font-size: 36px;
    color: antiquewhite;
    text-align: center;
}

div.volver a {
    background-color: antiquewhite;
    border-radius: 16px;
    padding: 8px;
    color: black;
    font-size: 28px;
    text-decoration: none;
}

div.cc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    text-align: center;
    color: antiquewhite; /*Eliminar Luego*/
}

/*Responsive for Mobile*/
@media (max-width: 600px) {
    div.footer_linear {
        flex-direction: column;
    }

    div.icons {
        order: 1;
    }

    p.w3c {
        order: 2;
        margin: 16px;
    }

    div.volver {
        order: 3;
        visibility: hidden;
        height: 0px;
    }
}