div.bienvenido {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    
    object-fit: cover;
    position: sticky;
    top: 0;
    z-index: -1;
}

div#contenido1 {
    background-color: #157F50;
    background-image: url(../img/Backgrounds/FondoBienvenido_Desktop.jpg);
}

div#contenido2 {
    background-color: #E57A44;
}

div#contenido3 {
    background-color: #F4A127;
}

div#contenido2, div#contenido3 { /*Borrar Luego cuando añada contenido*/
    font-size: 96px;
    color: #FFF8E1; /*Color por decidir*/
}

div#contenido1 {
    flex-direction: column;
    text-align: center;
    
    color: #FFF8E1;
    text-shadow: 3px 6px 5px #000000;
}

div#contenido1 h1 {
    font-size: 164px;
}

div#contenido1 h3 {
    font-size: 64px;
}

/*Responsive for Larger Desktop*/
@media (min-width: 1921px) {
    div#contenido1 { background-image: url(../img/Backgrounds/FondoBienvenido_LargerDesktop.jpg); }
}

/*Responsive for Tablets*/
@media (min-width: 601px) and (max-width: 1279px) {
    div#contenido1 { background-image: url(../img/Backgrounds/FondoBienvenido_Tablet.jpg); }
}

/*Responsive for Mobile*/
@media (max-width: 600px) {
    div#contenido1 { background-image: url(../img/Backgrounds/Fondo_Bienvenido_Mobile.jpg); }
}
