@font-face {
    font-family: 'Federo';
    src: url(../fonts/Federo-Regular.ttf) format('truetype');
}

img.img_logo {
    width: 100px;
    height: 100px;
    margin: 4px 12px;
    border-radius: 20px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 16px;
}

nav ul li a {
    color: #043F2D;
    font-family: Federo;
    font-size: 32px;
    text-decoration: none;
    text-align: center;
}

/*Hover Efect*/
nav ul li a {
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #043F2D;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
