div.footer_linear {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div p.w3c { /*Eliminar Luego cuando se añada las validaciones*/
    background-color: antiquewhite;
    border-radius: 12px;
    padding: 4px;
    font-size: 20px;
}

div.icons ul {
    display: flex;
}

div.icons ul li {
    list-style: none;
    padding: 32px;
}

div.icons ul li { /*Eliminar Luego cuando añada los iconos*/
    font-size: 36px;
    color: antiquewhite;
}

div.volver a {
    background-color: antiquewhite;
    border-radius: 16px;
    padding: 8px;
    color: black;
    font-size: 28px;
    text-decoration: none;
}

div.cc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    text-align: center;
    color: antiquewhite; /*Eliminar Luego*/
}

/*Responsive for Tablets*/
@media (min-width: 601px) and (max-width: 1279px) {

}

/*Responsive for Mobile*/
@media (max-width: 600px) {

}