/* by Matheus Souza */

div#contenido3 { /*Borrar Luego cuando añada contenido*/
    font-size: 96px;
    color: #FFF8E1;
}

/* Configuración de los Bloques */
div.bloque {
    display: flex;
    max-width: 105vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    object-fit: cover;
    position: sticky;
    top: 0;
    z-index: -1;
}

/* Color y Imagen de Fondo de los Bloques */
div#contenido1 {
    background-color: #157F50;
    background-image: url(../img/Backgrounds/FondoBienvenido_Desktop.jpg);
}
div#contenido2 { background-color: #157F50; }
div#contenido3 { background-color: #F4A127; }

/* Estilo del Contenido 1 */
div#contenido1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF8E1;
    text-shadow: 3px 6px 5px #000000;
}

div#contenido1 h1 { font-size: 10vw; }
div#contenido1 h2 { font-size: 4vw; }
/* Fin Estilo del Contenido 1 */

/* Estilo del Contenido 2 */
div#contenido2 {
    justify-content: center;
    align-items: center;
    padding: 32px 64px;
    color: #FFF8E1;
}

div#contenido2 .texto_horizontal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#contenido2 .texto_horizontal p {
    font-size: 96px;
    text-shadow: 5px 2px 5px #043F2D;
}

div#contenido2 .linea {
    height: 80vh;
    width: 10px;
    background-color: #FFF8E1;
    margin: 80px;
    border-radius: 16px;
}

div#contenido2 .texto_sobre {
    width: 50vw;
    font-size: 2.5vw;
    text-align: justify;
}
/* Fin Estilo del Contenido 2 */

/*Responsive for Tablets*/
@media (min-width: 801px) and (max-width: 1279px) {
    div#contenido1 h1 { font-size: 15vw; }
    div#contenido1 h2 { font-size: 6vw; }
    div#contenido2 .texto_sobre { font-size: 3.5vw; }
}
/*Responsive for Mobile*/
@media (max-width: 800px) {
    div#contenido1 h1 { font-size: 20vw; }
    div#contenido1 h2 { font-size: 8vw; }
    
    div#contenido2 { 
        flex-direction: column;
        padding: 0px 32px;
    }
    div#contenido2 .linea {
        margin: 4px;
        margin-bottom: 32px;
        width: 80vw;
        height: 1vh;
    }
    div#contenido2 .texto_horizontal{ flex-direction: row; }
    div#contenido2 .texto_horizontal p { font-size: 20vw; }
    div#contenido2 .texto_sobre { 
        font-size: 5vw; 
        width: 70vw;
    }
}

/*Responsividad para la imagen de Fondo del 1º Bloque */
@media (min-width: 1921px) { div#contenido1 { background-image: url(../img/Backgrounds/FondoBienvenido_LargerDesktop.jpg); } }
@media (min-width: 601px) and (max-width: 1279px) { div#contenido1 { background-image: url(../img/Backgrounds/FondoBienvenido_Tablet.jpg); } }
@media (max-width: 600px) { div#contenido1 { background-image: url(../img/Backgrounds/Fondo_Bienvenido_Mobile.jpg); } }