/* by Matheus Souza */

div#contenido4 {
    background-color: #0D5F3F;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF8E1;
    padding: 32px 0px;
}

div#contenido4 h2 {
    font-size: 4.5vw;
    font-family: Birthstone;
    text-transform: uppercase;
    text-align: center;
}

div#contenido4 .linea {
    width: 75vw;
    background-color: #FFF8E1;
    border-radius: 16px;
    margin: 16px;
    min-height: 1vh;
    max-height: 1vh;
}

div#contenido4 .carrusel {
    width: 70vw;
    height: 40vw;
    border-radius: 32px;
    margin-bottom: 48px;
    background-color: #FFF8E1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* Aqui pongo todas la imagenes para que se Pre-Carguen al entrar a la pagina */
    background-image: url( "../../Imgs/Imgs_Index/Contenido_4_Carrosel/PastaCarbonara.jpg"),
                      url( "../../Imgs/Imgs_Index/Contenido_4_Carrosel/Lasana.jpg"),
                      url( "../../Imgs/Imgs_Index/Contenido_4_Carrosel/LemonPie.jpg"),
                      url( "../../Imgs/Imgs_Index/Contenido_4_Carrosel/CerdoAgridulce.jpg"),
                      url( "../../Imgs/Imgs_Index/Contenido_4_Carrosel/Brownie.jpg"),
                      url( "../../Imgs/Imgs_Index/Contenido_4_Carrosel/PastaCarbonara.jpg");
    animation: carrusel 30s ease 0s infinite;
}

@keyframes carrusel {
    0% {background-image: url( "../../Imgs/Imgs_Index/Contenido_4_Carrosel/PastaCarbonara.jpg");}
    20% {background-image: url( "../../Imgs/Imgs_Index/Contenido_4_Carrosel/Lasana.jpg");}
    40% {background-image: url( "../../Imgs/Imgs_Index/Contenido_4_Carrosel/LemonPie.jpg");}
    60% {background-image: url( "../../Imgs/Imgs_Index/Contenido_4_Carrosel/CerdoAgridulce.jpg");}
    80% {background-image: url( "../../Imgs/Imgs_Index/Contenido_4_Carrosel/Brownie.jpg");}
    100% {background-image: url( "../../Imgs/Imgs_Index/Contenido_4_Carrosel/PastaCarbonara.jpg");}
}

/*Responsive for Tablets*/
@media (min-width: 801px) and (max-width: 1279px) {
    div#contenido4 h2 { font-size: 7.5vw;}
    div#contenido4 .linea { width: 92vw; }
    div#contenido4 .carrusel {
        width: 90vw;
        height: 65vw;
        max-height: 75vh;
    }
}

/*Responsive for Mobile*/
@media (max-width: 800px) {
    div#contenido4 h2 { font-size: 9.5vw;}
    div#contenido4 .linea { width: 92vw; }
    div#contenido4 .carrusel {
        width: 90vw;
        height: 110vw;
        max-height: 75vh;
    }
}
